<div>---Detail---</div>
<span
    class="status"
    [class.checked-in]="detail.checkedIn">
</span>
<div *ngIf="editing">
    <input type="text" [value]="detail.fullname" (input)="onNameChange(name.value)" #name>
</div>
<div *ngIf="!editing">
    {{ detail.fullname }}
</div>
<p>{{ detail | json | slice:0:80}}</p>
<div class="date">
    Check in date:
    {{ detail?.checkedInDate ? (detail.checkedInDate | date: 'MMMM d, y' | uppercase) : 'Not checked in' }}
</div>
<div class="children">
    Children: {{ detail?.children?.length || 0 }}
</div>
<button (click)="toggleEdit()">{{ editing ? "Done" : "Edit" }}</button>
<button (click)="onRemove()">Remove</button>
<div>------------</div>
